@tailwind base;
@tailwind components;
@tailwind utilities;


.color1{
color: rgb(60,110,113)

}
.colorTheme2{
  background-color: rgb(108,96,254);



}

.primaryText1{
  color: rgb(135, 126, 126);
}

.font1{
  font-family: 'Barlow', sans-serif;
}


.font2{
  font-family: 'Caveat', cursive;
}

.font3{
  font-family: 'Hind Madurai', sans-serif;
}

